body {
    background-color: #000;
    font-family: "Dm Sans", sans-serif;
}
.sidebar {
    max-width: 280px;
    padding: 8px 0 0 8px;
}
.sidebar__nav {
    background: #121212;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 12px;
}
.sidebar__nav .logo img {
    display: block;
    width: 80px;
}
.sidebar__nav .nav {
    margin-top: 10px;
}
.sidebar__nav .nav li {
    padding: 12px 0;
}
.sidebar__nav .nav li a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    transition: color .5s;
}
.sidebar__nav .nav li a:hover {
    color: #fff;
}

.sidebar__library {
    display: flex;
    flex-direction: column;
    background: #121212;
    border-radius: 8px;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
}
.sidebar__library .library__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}
.sidebar__library .library__content button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    gap: 20px;
    align-items: center;
    color: #b3b3b3;
    cursor: pointer; 
    transition: color .5s;
}
.sidebar__library .library__content button svg path {
    fill: #b3b3b3;
    transition: fill .5s;
}
.sidebar__library .library__content button:hover,
.sidebar__library .library__content button:hover svg path {
    color: #fff;
    fill: #fff;
}
.sidebar__library .library__actions {
    background-color: #242424;
    border-radius: 8px;
    padding: 16px 20px;
    margin-bottom: 20px;
}
.sidebar__library .library__actions .text {
    display: block;
    color: #fff;
    margin-bottom: 14px;
}
.sidebar__library .library__actions .title {
    font-weight: bold;
    font-size: 16px;
}
.sidebar__library .library__actions .subtitle {
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 12px;
}
.sidebar__library .cookies {
    margin: 25px 20px;
}
.sidebar__library .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
    transition: all .5s;
}
.sidebar__library .cookies a:hover {
    text-decoration: underline;
    color: #fff;
}
.sidebar__library .languages__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
    border-radius: 99999px;
}
.footer {
    padding: 8px;
}
.footer .footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(174,40,150);
    background: -moz-linear-gradient(90deg, rgba(174,40,150,1) 0%, rgba(81,154,244,1) 97%);
    background: -webkit-linear-gradient(90deg, rgba(174,40,150,1) 0%, rgba(81,154,244,1) 97%);
    background: linear-gradient(90deg, rgba(174,40,150,1) 0%, rgba(81,154,244,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ae2896",endColorstr="#519af4",GradientType=1);
    padding: 16px;
}
.footer .footer__content .title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 16px;
}
.footer .footer__content .subtitle {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.footer__content .footer__content__btn {
    padding: 20px 24px;
    border-radius: 99999px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.btn {
    padding: 8px 20px;
    border-radius: 99999px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    border: 1px solid #fff;
    margin-bottom: -2px;
}
